/**
 * @file
 * This file include styles based to Twitter-Post-Fetcher styles
 */

#block-simple-tweets-t-w-block h2 {
  clear: both;
}

#block-simple-tweets-t-w-block a,
a:visited {
  color: #427fed;
}

#block-simple-tweets-t-w-block a:hover {
  color: #82afff;
}

#block-simple-tweets-t-w-block ul li {
  list-style: none;
  overflow: hidden;
  border: 1px solid #dedede;
  margin: 5px;
  padding: 5px;
}

#block-simple-tweets-t-w-block ul li:hover {
  background-color: #f0f3fb;
}

#block-simple-tweets-t-w-block .user,
.tweet,
.timePosted {
  float: left;
}

#block-simple-tweets-t-w-block .user {
  width: 25%;
}

#block-simple-tweets-t-w-block .tweet {
  width: 50%;
}

#block-simple-tweets-t-w-block .timePosted {
  width: 15%;
}

#block-simple-tweets-t-w-block .user {
  clear: left;
}

#block-simple-tweets-t-w-block .user a {
  width: 100px;
}

#block-simple-tweets-t-w-block .user span span {
  width: 100px;
  display: block;
  margin-top: 10px;
}

#block-simple-tweets-t-w-block .user img,
.user a > span {
  float: left;
}

#block-simple-tweets-t-w-block .interact {
  float: left;
  width: 10%;
  margin-top: -7px;
}

#block-simple-tweets-t-w-block .interact a {
  margin-left: 5px;
  float: left;
}

#block-simple-tweets-t-w-block .user a > span {
  margin-left: 10px;
}

#block-simple-tweets-t-w-block .media img {
  max-width: 250px;
  max-height: 250px;
}


#block-simple-tweets-t-w-block .tco-hidden {
  display: none;
}
